<section>
    <h2>Tools</h2>
    <form [formGroup] = "petForm" (ngSubmit) = "onSubmit()" >
    <label for="breed"> Breed</label>
    <input type="text" placeholder="Raza" id= "breed" formControlName="breed">
    <label for="picture">Picture</label>
    <input type="text" placeholder="Imagen" id= "picture" formControlName="picture">
    <label for="caracter">Behavior</label>
    <input type="text" placeholder="Carácter" id="caracter" formControlName="caracter">
    <label for="hair_type">Hair Type</label>
    <input type="text" placeholder="Tipo de Pelo" id="hair_type" formControlName="hair_type">
    <label for="size">Size</label>
    <input type="text" placeholder="Tamaño" id="size" formControlName="size">  
    <label for="weight">Weight</label>
    <input type="text" placeholder="Peso" id="weight" formControlName="weight">
    <button type="submit"> PERREKE</button>
    <button (click) = "delete()">Delete Perreke</button>
</form>

</section>

