nav {
  display: flex;
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    li {
      margin: 0 1rem;
    }
  }
}
img {
  width: 150px;
  border-radius: 100px;
}
.active {
  font-weight: bold;
}
